@use 'sass:math';
#main{
    .container{
        overflow-x: hidden;
        .banner{
            width: 100%;
            position: relative;
            $boxWidth_pc: 1920px;
            $boxHeight_pc: 1025px;
            $boxWidth_mb: 840px;
            $boxHeight_mb: 473px;
            background: url('/main/Background.png') no-repeat;
            background-size: 100%;
            @include mob-width {
                background: url('/main/mb/Background.png') no-repeat;
                background-size: 100%;
            }
            > .height {
                display: block;
                padding-bottom: #{math.div($boxHeight_pc, $boxWidth_pc) * 100%};
                @include mob-width {
                    padding-bottom: #{math.div($boxHeight_mb, $boxWidth_mb) * 100%};
                }
            }
            .bgImg{
                @for $i from 1 through 5 {
                    .bgImg__#{$i} {
                        &-anime {
                            opacity: 0;
                            position: absolute;
                            @if $i == 1 {
                                transform-origin: top;
                                left: #{math.div(0px, $boxWidth_pc) * 100%};
                                top: #{math.div(0px, $boxHeight_pc) * 100%};
                                $w: 1920px;
                                $h: 1025px;
                                @include getImgBoxSize($w, $h, $boxWidth_pc);
                                @include mob-width {
                                    display: none;
                                }
                            } @else if $i == 2 {
                                transform-origin: top;
                                left: #{math.div(0px, $boxWidth_pc) * 100%};
                                top: #{math.div(0px, $boxHeight_pc) * 100%};
                                $w: 1920px;
                                $h: 1025px;
                                @include getImgBoxSize($w, $h, $boxWidth_pc);
                                @include mob-width {
                                    display: none;
                                }
                            } @else if $i == 3 {
                                transform-origin: left bottom;
                                left: #{math.div(0px, $boxWidth_pc) * 100%};
                                top: #{math.div(0px, $boxHeight_pc) * 100%};
                                $w: 1920px;
                                $h: 1025px;
                                @include getImgBoxSize($w, $h, $boxWidth_pc);
                                @include mob-width {
                                    display: none;
                                }
                            } @else if $i == 4 {
                                transform-origin: right bottom;
                                left: #{math.div(0px, $boxWidth_pc) * 100%};
                                top: #{math.div(0px, $boxHeight_pc) * 100%};
                                $w: 1920px;
                                $h: 1025px;
                                @include getImgBoxSize($w, $h, $boxWidth_pc);
                                @include mob-width {
                                    display: none;
                                }
                            } @else if $i == 5 {
                                transform-origin: left;
                                left: #{math.div(0px, $boxWidth_pc) * 100%};
                                top: #{math.div(0px, $boxHeight_pc) * 100%};
                                $w: 1920px;
                                $h: 1025px;
                                @include getImgBoxSize($w, $h, $boxWidth_pc);
                                @include mob-width {
                                    display: none;
                                }
                            }
                            &-obj {
                                position: absolute;
                                left: 0;
                                top: 0;
                                right: 0;
                                bottom: 0;
                                background-size: 100%;
                                background-repeat: no-repeat;
                                background-position: center;
                                @if $i == 1 {
                                    background-image: url('/main/KV1.png');
                                    @include mob-width {
                                    }
                                } @else if $i == 2 {
                                    background-image: url('/main/KV2.png');
                                    @include mob-width {
                                    }
                                } @else if $i == 3 {
                                    background-image: url('/main/KV4.png');
                                    @include mob-width {
                                    }
                                } @else if $i == 4 {
                                    background-image: url('/main/KV5.png');
                                    @include mob-width {
                                    }
                                } @else if $i == 5 {
                                    background-image: url('/main/KV3.png');
                                    @include mob-width {
                                    }
                                }
                                
                            }
                        }
                    }
                }
            }
            .cIcon{
                @for $i from 1 through 4 {
                    .cIcon__#{$i} {
                        &-anime {
                            position: absolute;
                            $w: 56px;
                            $h: 166px;
                            @include getImgBoxSize($w, $h, $boxWidth_pc);
                            @if $i == 1 {
                                transform-origin: bottom;
                                left: #{math.div(126px, $boxWidth_pc) * 100%};
                                top: #{math.div(120px, $boxHeight_pc) * 100%};
                                @include mob-width {
                                    display: none;
                                }
                            } @else if $i == 2 {
                                transform-origin: bottom;
                                left: #{math.div(432px, $boxWidth_pc) * 100%};
                                top: #{math.div(73px, $boxHeight_pc) * 100%};
                                @include mob-width {
                                    display: none;
                                }
                            } @else if $i == 3 {
                                transform-origin: bottom;
                                left: #{math.div(1373px, $boxWidth_pc) * 100%};
                                top: #{math.div(176px, $boxHeight_pc) * 100%};
                                @include mob-width {
                                    display: none;
                                }
                            } @else if $i == 4 {
                                transform-origin: bottom;
                                left: #{math.div(1756px, $boxWidth_pc) * 100%};
                                top: #{math.div(62px, $boxHeight_pc) * 100%};
                                @include getImgBoxSize($w, $h, $boxWidth_pc);
                                @include mob-width {
                                    display: none;
                                }
                            }
                            &-obj {
                                position: absolute;
                                left: 0;
                                top: 0;
                                right: 0;
                                bottom: 0;
                                background-size: 100%;
                                background-repeat: no-repeat;
                                background-position: center;
                                @if $i == 1 {
                                    background-image: url('/main/FloatIcon1.png');
                                    @include mob-width {
                                    }
                                } @else if $i == 2 {
                                    background-image: url('/main/FloatIcon2.png');
                                    @include mob-width {
                                    }
                                } @else if $i == 3 {
                                    background-image: url('/main/FloatIcon3.png');
                                    @include mob-width {
                                    }
                                } @else if $i == 4 {
                                    background-image: url('/main/FloatIcon4.png');
                                    @include mob-width {
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .camera{
                @for $i from 1 through 5 {
                    .camera__#{$i} {
                        &-anime {
                            position: absolute;
                            $w: 80px;
                            $h: 80px;
                            @include getImgBoxSize($w, $h, $boxWidth_pc);
                            @if $i == 1 {
                                transform-origin: bottom;
                                left: #{math.div(114px, $boxWidth_pc) * 100%};
                                top: #{math.div(278px, $boxHeight_pc) * 100%};
                                @include mob-width {
                                    display: none;
                                }
                            } @else if $i == 2 {
                                transform-origin: bottom;
                                left: #{math.div(420px, $boxWidth_pc) * 100%};
                                top: #{math.div(210px, $boxHeight_pc) * 100%};
                                @include mob-width {
                                    display: none;
                                }
                            } @else if $i == 3 {
                                transform-origin: bottom;
                                left: #{math.div(1363px, $boxWidth_pc) * 100%};
                                top: #{math.div(295px, $boxHeight_pc) * 100%};
                                @include mob-width {
                                    display: none;
                                }
                            } @else if $i == 4 {
                                transform-origin: bottom;
                                $w: 64px;
                                $h: 64px;
                                left: #{math.div(1752px, $boxWidth_pc) * 100%};
                                top: #{math.div(221px, $boxHeight_pc) * 100%};
                                @include getImgBoxSize($w, $h, $boxWidth_pc);
                                @include mob-width {
                                    display: none;
                                }
                            } @else if $i == 5 {
                                transform-origin: bottom;
                                left: #{math.div(87px, $boxWidth_pc) * 100%};
                                top: #{math.div(719px, $boxHeight_pc) * 100%};
                                @include mob-width {
                                    display: none;
                                }
                            }
                            &-obj {
                                position: absolute;
                                left: 0;
                                top: 0;
                                right: 0;
                                bottom: 0;
                                background-size: 100%;
                                background-repeat: no-repeat;
                                background-position: center;
                                @if $i == 1 {
                                    background-image: url('/main/Icon-2.png');
                                    @include mob-width {
                                    }
                                } @else if $i == 2 {
                                    background-image: url('/main/Icon-1.png');
                                    @include mob-width {
                                    }
                                } @else if $i == 3 {
                                    background-image: url('/main/Icon-2.png');
                                    @include mob-width {
                                    }
                                } @else if $i == 4 {
                                    background-image: url('/main/Icon-3.png');
                                    @include mob-width {
                                    }
                                } @else if $i == 5 {
                                    background-image: url('/main/Icon-4.png');
                                    @include mob-width {
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .bannerTitle{
                &-anime {
                    opacity: 0;
                    position: absolute;
                    $w: 309px;
                    $h: 122px;
                    @include getImgBoxSize($w, $h, $boxWidth_pc);
                    left: #{math.div(806px, $boxWidth_pc) * 100%};
                    top: #{math.div(80px, $boxHeight_pc) * 100%};
                    @include mob-width {
                        display: none;
                    }
                    &-obj {
                        position: absolute;
                        left: 0;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        background-size: 100%;
                        background-repeat: no-repeat;
                        background-position: center;
                        background-image: url('/main/bannerLogo.png');
                        @include mob-width {
                            background-image: url('/main/bannerLogo.png');
                        }
                    }
                }
            }
        }
        .info{
            position: relative;
            background-color: #F8F8FF;
            padding-top: 89px;
            padding-bottom: 132px;
            display: flex;
            justify-content: center;
            @include mob-width {
                padding-top: vw(120,768);
                padding-bottom: vw(206,768);
            }
            .infoBg{
                &-anime{
                    position: absolute;
                    width: 100%;
                    bottom: 0;
                    left: 0;
                    img{
                        display: block;
                        width: 100%;
                    }
                }
            }
            .wrap{
                max-width: 977px;
                width: 100%;
                @include mob-width {
                    width: vw(688,768);
                    max-width: unset;
                }
                .infoTitle{
                    padding: 0 10px;
                    text-align: center;
                    font-size: 32px;
                    font-weight: bold;
                    line-height: 1;
                    @include mob-width {
                        padding: 0 vw(10,768);
                        font-size: vw(40,768);
                    }
                }
                .infoDes{
                    margin-top: 24px;
                    text-align: center;
                    @include mob-width {
                        margin-top: vw(24,768);
                    }
                    span{
                        font-size: 20px;
                        color: #828282;
                        @include mob-width {
                            font-size: vw(24,768);
                        }
                    }
                }
                .activeNews{
                    position: relative;
                    margin-top: 80px;
                    display: flex;
                    flex-direction: column;
                    border-radius: 24px;
                    overflow: hidden;
                    @include mob-width {
                        width: 100%;
                        margin-top: vw(80,768);
                        border-radius: vw(24,768);
                    }
                    .title{
                        width: 100%;
                        height: 75px;
                        background-color: #465AFF;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        padding: 0 40px;
                        @include mob-width {
                            height:vw(86,768);
                            padding: 0 vw(24,768);
                        }
                        span{
                            font-size: 24px;
                            font-weight: bold;
                            color: #ffffff;
                            @include mob-width {
                                font-size: vw(32,768);
                            }
                        }
                    }
                    .data{
                        background-color: #ffffff;
                        padding:0 40px 16px 40px;
                        @include mob-width {
                            padding:0 vw(24,768) vw(16,768) vw(24,768);
                        }
                        .dataContent{
                            display: flex;
                            flex-direction: column;
                            overflow: hidden;
                            &::after{
                                content: '';
                                position: relative;
                                width: 100%;
                                height: 0.5px;
                                background-color: #BBBBBB;
                            }
                            a{
                                padding: 24px 0;
                                width: 100%;
                                text-decoration: none;
                                @include mob-width {
                                    padding:vw(24,768) 0;
                                }
                            }
                            .boxContent{
                                display: flex;
                                flex-direction: row;
                                justify-content: space-between;
                                padding-right: 12px;
                                @include mob-width {
                                    padding-right:vw(24,768);
                                    overflow: hidden;
                                }
                                .box1{
                                    width: 100%;
                                    display: flex;
                                    font-size: 20px;
                                    @include mob-width {
                                        font-size: vw(24,768);
                                    }
                                    .dateAnime{
                                        color: #828282;
                                        
                                    }
                                    .desAnime{
                                        padding:0 24px;
                                        color: #333333;  
                                        white-space:nowrap;
                                        overflow: hidden;
                                        text-overflow: ellipsis;
                                        @include mob-width {
                                            padding:0 vw(24,768);
                                        }                         
                                    }
                                }
                                .box2{
                                    .desIcon{
                                        &::after{
                                            content: '';
                                            width: 10px;
                                            height: 10px;
                                            border-width: 1px 1px 0 0 ;
                                            transform: rotate(45deg);
                                            border-style: solid;
                                            border-color: #828282;
                                            margin: auto;
                                            display: inline-block;
                                        }
                                    }
                                }
                            }
                        }
                        .dataContent:last-child{
                            &::after{
                                content: '';
                                display: none;
                            }
                        }
                    }
                }
                .point{
                    position: relative;
                    margin-top: 80px;
                    display: flex;
                    flex-direction: column;
                    border-radius: 24px;
                    overflow: hidden;
                    @include mob-width {
                        width: 100%;
                        margin-top: vw(80,768);
                        border-radius: vw(24,768);
                    }
                    .title{
                        width: 100%;
                        height: 75px;
                        background-color: #465AFF;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        padding: 0 40px;
                        @include mob-width {
                            height:vw(86,768);
                            padding: 0 vw(24,768);
                        }
                        span{
                            font-size: 24px;
                            font-weight: bold;
                            color: #ffffff;
                            @include mob-width {
                                font-size: vw(32,768);
                            }
                        }
                    }
                    .data{
                        background-color: #ffffff;
                        padding: 24px 40px;
                        @include mob-width {
                            padding:vw(24,768);
                        }
                        .des{
                            font-size: 20px;
                            @include mob-width {
                                font-size: vw(24,768);
                            }
                        }
                        .detail{
                            display: flex;
                            justify-content: center;
                            margin-top: 10px;
                            @include mob-width {
                                margin-top: vw(10,768);
                            }
                            .rankcontent{
                                position: relative;
                                width: 25%;
                                display: flex;
                                flex-direction: column;
                                &::after{
                                    content: "";
                                    width: 1px;
                                    height: 48px;
                                    display: inline-block;
                                    position: absolute;
                                    top: 50%;
                                    transform: translateY(-50%);
                                    background-color: #D9D9D9;
                                    @include mob-width {
                                        height: vw(48,768);
                                    }
                                }
                                .rankNum{
                                    text-align: center;
                                    font-size: 48px;
                                    color: #465AFF;
                                    @include mob-width {
                                        font-size: vw(48,768);
                                    }
                                }
                                .rankTitle{
                                    text-align: center;
                                    font-size: 20px;
                                    color: #828282;
                                    @include mob-width {
                                        font-size: vw(24,768);
                                    }
                                }
                            }
                            .rankcontent:first-child{
                                &::after{
                                    display: none;
                                }
                            }
                        }
                    }
                }
                .ranking{
                    position: relative;
                    margin-top: 80px;
                    display: flex;
                    flex-direction: column;
                    border-radius: 24px;
                    overflow: hidden;
                    @include mob-width {
                        width: 100%;
                        margin-top: vw(80,768);
                        border-radius: vw(24,768);
                    }
                    .title{
                        width: 100%;
                        height: 75px;
                        background-color: #465AFF;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        padding: 0 40px;
                        @include mob-width {
                            height:vw(86,768);
                            padding: 0 vw(24,768);
                        }
                        span{
                            font-size: 24px;
                            font-weight: bold;
                            color: #ffffff;
                            @include mob-width {
                                font-size: vw(32,768);
                            }
                        }
                    }
                    .data{
                        background-color: #ffffff;
                        padding: 24px 40px;
                        display: flex;
                        flex-direction: column;
                        @include mob-width {
                            padding:0 vw(24,768) vw(24,768) vw(24,768);
                        }
                        .label{
                            display: flex;
                            .labelItem{
                                padding-bottom: 8px;
                                width: 20%;
                                text-align: center;
                                font-size: 20px;
                                @include mob-width {
                                    padding-bottom: vw(8,768);
                                    font-size: vw(20,768);
                                }
                            }
                        }
                        .des{
                            display: flex;
                            flex-direction: column;
                            padding-bottom: 24px;
                            height: 474px;
                            overflow-y: auto;
                            @include mob-width {
                                height: vw(474,768);
                                padding-bottom: vw(24,768);
                            }
                            .desContent{
                                display: flex;
                                position: relative;
                                &::after{
                                    content: '';
                                    position: absolute;
                                    width: 100%;
                                    height: 0.5px;
                                    background-color: #BBBBBB;
                                }
                                .desItem{
                                    padding: 8px 0;
                                    width: 20%;
                                    text-align: center;
                                    font-size: 20px;
                                    @include mob-width {
                                        padding: vw(8,768) 0;
                                        font-size: vw(20,768);
                                    }
                                }
                            }
                        }
                        .notice{
                            font-size: 16px;
                            margin-top: 16px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            @include mob-width {
                                margin-top: vw(16,768);
                                font-size: vw(24,768);
                            }
                            span{
                                color: #828282;
                            }
                        }
                    }
                    
                }
            }
        }
        .review {
            position: relative;
            padding: 100px 0;
            display: flex;
            flex-direction: column;
            background: url('/main/Texture.png') repeat;
            background-color: #ffffff;
            background-size: 100%;
            @include mob-width {
                padding: vw(120,768) 0;
            }
            .wrap{
                max-width: 850px;
                width: 100%;
                margin: auto;
                @include mob-width {
                    max-width: unset;
                    width: vw(688,768);
                }
                .reviewTitle{
                    padding: 0 10px;
                    text-align: center;
                    font-size: 32px;
                    font-weight: bold;
                    line-height: 1;
                    @include mob-width {
                        padding: 0;
                        font-size: vw(40,768);
                    }
                }
                .reviewDes{
                    margin-top: 24px;
                    text-align: center;
                    @include mob-width {
                        margin-top: vw(24,768);
                    }
                    span{
                        font-size: 20px;
                        color: #828282;
                        @include mob-width {
                            font-size: vw(24,768);
                        }
                    }
                }
                .reviewDataContent{
                    position: relative;
                    margin-top: 80px;
                    @include mob-width {
                        margin-top: vw(64,768);
                    }
                    .title{
                        color: #4F4F4F;
                        font-weight: bold;
                        font-size: 24px;
                        @include mob-width {
                            font-size: vw(32,768);
                        }
                    }
                    .data{
                        margin-top: 40px;
                        @include mob-width {
                            margin-top: vw(40,768);
                        }
                        .detail{
                            display: flex;
                            .reviewData{
                                width: 25%;
                                display: flex;
                                flex-direction: column;
                                .dataTitle{
                                    font-size: 20px;
                                    color: #828282;
                                    @include mob-width {
                                        font-size: vw(24,768);
                                    }
                                }
                                .dataNum{
                                    font-size: 48px;
                                    color: #465AFF;
                                    @include mob-width {
                                        font-size: vw(48,768);
                                    }
                                    span{
                                        font-size: 20px;
                                        color: #BDBDBD;
                                        @include mob-width {
                                            font-size: vw(20,768);
                                        }
                                    }
                                }
                            }
                        }
                        
                    }
                }
                .picture{
                    position: relative;
                    margin-top: 80px;
                    @include mob-width {
                        margin-top: vw(63,768);
                    }
                    .title{
                        color: #4F4F4F;
                        font-weight: bold;
                        font-size: 24px;
                        @include mob-width {
                            font-size: vw(32,768);
                        }
                    }
                }
            }
            .swiper{
                width: 100%;
            }
        }
        .swiper{
            margin-top: 40px;
            width: 100%;
            @include mob-width {
                margin-top: vw(34,768);
            }
            .swiper-slide {
                text-align: center;
                font-size: 18px;
                background: #fff;
              
                /* Center slide text vertically */
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                  }
              }              
        }
        .active{
            position: relative;
            padding: 120px 0;
            display: flex;
            justify-content: center;
            background: url('/main/infoBg.png') no-repeat;
            background-color: #F8F8FF;
            background-size: 100%;
            background-position: bottom;
            @include mob-width {
                padding: vw(120,768) 0;
            }
            .wrap{
                max-width: 982px;
                @include mob-width {
                    max-width: unset;
                    width: vw(479,768);
                }
                .activeTitle{
                    font-size: 40px;
                    text-align: center;
                    font-weight: bold;
                    @include mob-width {
                        font-size: vw(40,768);
                    }
                }
                .activeContent{
                    margin-top: 20px;
                    display: flex;
                    justify-content: center;
                    margin-left: -24px;
                    @include mob-width {
                        flex-direction: column;
                        margin-top: vw(40,768);
                        margin-left: 0;
                    }
                    .activeBox{
                        width: 50%;
                        @include mob-width {
                            width: 100%;
                        }
                    }
                    .activeCard{
                        margin-top: 20px;
                        margin-left: 24px;
                        // width: 50%;
                        border-radius: 24px;
                        background-color: #ffffff;
                        display: flex;
                        flex-direction: column;
                        @include mob-width {
                            width: 100%;
                            margin-left: 0;
                            border-radius: vw(24,768);
                            margin-top: vw(40,768);
                        }
                        a{
                            text-decoration: none;
                            color: #828282;
                        }
                        .activeCardImg{
                            img{
                                width: 100%;
                                display: block;
                            }
                        }
                        .activeCardInfo{
                            padding: 24px 40px 40px 40px;
                            @include mob-width {
                                padding: vw(24,768) vw(40,768) vw(40,768) vw(40,768);
                            }
                            .title{
                                padding-bottom: 24px;
                                display: flex;
                                justify-content: space-between;
                                align-items: end;
                                border-bottom: 0.5px solid #BBBBBB;
                                @include mob-width {
                                    padding-bottom: vw(24,768);
                                }
                                .name{
                                    font-size: 32px;
                                    color: #333333;
                                    font-weight: bold;
                                    @include mob-width {
                                        font-size: vw(40,768);
                                    }
                                }
                                .date{
                                    font-size: 24px;
                                    color: #828282;
                                    @include mob-width {
                                        font-size: vw(32,768);
                                    }
                                }
                            }
                            .des{
                                margin-top: 24px;
                                width: 100%;
                                height: 92px;
                                font-size: 16px;
                                @include mob-width {
                                    font-size: vw(24,768);
                                    height:vw(107,768);
                                    margin-top: vw(24,768);
                                }
                                p{
                                    white-space: pre-wrap;
                                    display: -webkit-box;
                                    -webkit-box-orient: vertical;
                                    -webkit-line-clamp: 4;
                                    overflow: hidden;
                                    @include mob-width {
                                        -webkit-line-clamp: 3;
                                    }
                                }
                                
                            }
                            .btn{
                                margin-top: 24px;
                                @include mob-width {
                                    margin-top: vw(24,768);
                                }
                                span{
                                    padding: 8px 16px;
                                    font-size: 16px;
                                    font-weight: bold;
                                    color: #ffffff;
                                    background-color: #465AFF;
                                    border-radius: 8px;
                                    @include mob-width {
                                        padding: vw(16,768) vw(151.5,768);
                                        font-size: vw(24,768);
                                        border-radius: vw(8,768);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}